<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedruntime version="v4.0" sku=".netframework,version=v4.6.1" />
	</startup>
	<connectionStrings>
		<add name="DBString" connectionString="Data Source=.\MSSQLSERVER_SYDS;Integrated Security=True"/>
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="EmployeeFormService.EmployeeService" behaviorConfiguration="EmpServiceBehaviour">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8695/EmployeeService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="EmployeeFormService.IEmployeeService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="EmpServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>